*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-blue{
  background-color: blue;
  height: 50px;
}

.bg-grey{
  background-color: lightgrey;
}

main{
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  height: 100vh;
}

.card:last-of-type{
  align-self: flex-start;
  align-content: flex-start;
}
